.toolbar{
    position:fixed;
    overflow: hidden;
    Top: 0;
    Left: 0;
    width: 100%;
    background:white;
    height:56px;
    letter-spacing:2px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  
}
.bar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0
}

.toolbar_navigation{
    display:flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}
.toolbar_navigation a{
   color:black;
   text-decoration: none;

}
.toolbar_navigation a:hover,
 .toolbar_navigation a:active{
    color:orange;
 }
 .toolbar_navigation-items ul{
    list-style:none;
    margin: 0;
    padding:0;
    display: flex;

 }
 .toolbar_navigation-items li{
    display:flex;
    position: relative;
    padding: 0 0.5rem;
 }
 .toolbar_navigation-items li:hover{
    color:#000!important;
    background-color:#ccc!important;
    padding:4px 4px!important;
 }
 .spacer{
     flex:1;
 }
 .toolbar_logo{
     margin-left: 0rem;
     list-style:none;
 }
.toolbar_logo a{
    color:white;
    text-decoration: none;
    font-size: .8rem;
}
#page{display:block;text-align:center}