
.center {
    margin-Top: '58px';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
}

.social-links{
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    display:flex;
    justify-content: space-between;
    width:50%;
    margin:auto;
}
.social-links i{
    color:white;
    font-size: 5vw; 
    padding:8px;
}
.Typewriter{
    font-size: 5vw;
    color:white;
}

